<h1>{{title}}</h1>
<hr />
<div appHighlight defaultColor="yellow">Highlighted in yellow</div>
<div appHighlight [defaultColor]="'orange'">Highlighted in orange</div>
<div [appHighlight]="'orange'">Highlight me!</div>
<hr />
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<div [appHighlight]="color">Highlight me!</div>
<hr />
<ng-container *appTemplateOutlet="myTemplate; data: '5678'"></ng-container>
<ng-template #myTemplate let-input="data">
  Hello World!!!! {{input}}
</ng-template>
